{% extends 'django_class_based_app/base.html' %}
{% block page_title %}{{ title }}{% endblock %}

{% block body %}
<div class="grid-x grid-padding-x">
    <div class="cell">
        <h1>{{ title }}</h1>
        <form method="POST" enctype="multipart/form-data">
        
            <!-- Security token -->
            {% csrf_token %}
        
            <!-- Using the formset -->
            {{ form.as_p }}
            
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}
